$bg : radial-gradient(ellipse at center,#3b3b3b 0,#181817 100%)no-repeat;
$ContentBg : linear-gradient(to bottom, #2d2d2c 0%,#383838 62%,#403733 88%,#403733 88%,#ff4f00 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$base-color: #ff4f00;